/*		span  /*elemnt wise
		{
			background-color: yellow;
		}

		div
		{
			font-size: 20px;
		}	 

		.cls /*class wise
		{
			font-family: Tahoma;
		}

		#div2 /*id wise
		{
			background-color: blue;
		}

		* , html,body
		{
			font-family: verdana;
		}
		div,p , #id1 , .cls2
		{
			background-color: gray;	
		}

		ul li span   /* #id1 .cls span 
		{
			font-size: 12px;
		}
*/

	body
	{	
		/*name , hex code, rgb code*/
		/*background-color: rgb(128,125,75);   /*#FFFFFF;    /*yellow; */

		/*background: url(./jellyfish.jpg);
		background-repeat: no-repeat repeat-x;
		background-size: 100% 100%;
		background-attachment: fixed;c
*/

	}

	body
	{
		font-size: 20px;
	}		

	div
	{
		background-color: yellow;
		height: 100px;
		width: 200px;
		padding: 10px 5px 10px 20px ;
		border:1px dashed black;
		margin: 10px;
		float: left;
		overflow: auto; /*scroll;*/ /*hidden;*/
		font-size: 1em; /* px  inch cm  */	
		font-family: tahoma;
		color:blue; 	
	}

	#div4
	{
		position: fixed; /*absolute*/
		top:100px;
		right: 50px;
		/*transform: rotate(67deg);*/	
		/*transform: skew(45deg,10deg);*/	
		width: 200px;
		transition: background-color 3s , transform 5s; 
	}	


	#div4:hover
	{
		
		transform: rotate(180deg);
		background-color: red;		
	}	














